<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="">
<meta name="author" content="">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="styles/angular-material.min.css" />
<link rel="stylesheet" href="styles/angular-gridster.min.css" />
<link rel="stylesheet" href="styles/main.css" />

<head>
    <title>Dashboard</title>
</head>

<body ng-app="mainApp" ng-controller="mainCtrl" ng-cloak="">
    <div class="main-view">
        <div class="home-page">
            <div class="home-head">
                <img src="assets/img/entwinedSolutions.png" alt="logo">
                <div class="rside">
                    <div class="menus">
                        <span>{{userInfo.profile.name}} <i class="fa" ng-class="!toggleNameMenu ? 'fa-sort-down' : 'fa-sort-up'" ng-click="toggleNameMenu = !toggleNameMenu;"></i></span>
                        <div class="name-menu" ng-show="toggleNameMenu">
                            <div id="user-views" class="menu-item sub-menu" ng-click="showSubMenu($event);">
                                <i class="fa toggle"></i>
                                <label>View</label>
                                <ul>
                                    <li ng-click="setSelectedView(0);"><i class="fa fa-check" ng-if="gbl.selectedView === 0"></i>&nbsp;My View</li>
                                    <li ng-click="setSelectedView($index + 1, g.objectId);" ng-repeat="g in gbl.userGroups">
                                        <i class="fa fa-check" ng-if="gbl.selectedView === ($index + 1)"></i>&nbsp;{{g.displayName}}
                                    </li>
                                </ul>
                            </div>
                            <div class="menu-item" ng-click="gbl.wtoolbxVisible = true;toggleNameMenu = false;">Widget Toolbox</div>
                            <!-- <div class="menu-item separator"></div> -->
                            <div class="menu-item" ng-click="logout();">Logout</div>
                        </div>
                    </div>
                    <div class="bars">
                        <i class="fa fa-bars" ng-click="rsBarVisible = true;"></i>
                    </div>
                </div>
            </div>

            <div class="home-body" ng-view>

            </div>

            <div class="right-sidebar" ng-class="rsBarVisible ? 'active' : ''">
                <div class="command">
                    <i class="fa fa-bars" ng-click="rsBarVisible = false;"></i>
                </div>
                <div class="user">
                    <div class="profile-pic">
                        <img src="assets/img/avatar.png">
                    </div>
                    <div class="details">
                        <div class="fullname">{{userInfo.profile.name}}</div>
                        <div class="status"><i class="fa fa-circle online"></i> Online</div>
                    </div>
                </div>
                <div class="group-item">
                    <span class="group-header">MAIN NAVIGATION</span>
                    <ul class="group-items">
                        <li class="menu-item" ui-sref="home.dashboard">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </li>
                        <li class="menu-item">
                            <i class="fa fa-hdd-o"></i>
                            <span>Modem</span>
                        </li>
                        <li class="menu-item">
                            <i class="fa"></i>
                            <span>DMP</span>
                        </li>
                        <li class="menu-item">
                            <i class="fa"></i>
                            <span>APP</span>
                        </li>
                        <li class="menu-item">
                            <i class="fa"></i>
                            <span>Panel</span>
                        </li>
                        <li class="menu-item">
                            <i class="fa fa-tv"></i>
                            <span>PC</span>
                        </li>
                    </ul>
                </div>
                <div class="group-item">
                    <span class="group-header">ADMINISTRATION</span>
                    <ul class="group-items">

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="scripts/lib/jquery.min.js"></script>
    <script src="styles/bootstrap/js/bootstrap.min.js"></script>

    <script src="scripts/lib/angular.min.js"></script>
    <!-- <script src="scripts/lib/angular-ui-router.min.js"></script> -->
    <script src="scripts/lib/angular-route.min.js"></script>
    <script src="scripts/lib/angular-animate.min.js"></script>
    <script src="scripts/lib/angular-aria.min.js"></script>
    <script src="scripts/lib/angular-messages.min.js"></script>
    <script src="scripts/lib/angular-material.min.js"></script>

    <script src="scripts/lib/jquery.resize.js"></script>
    <script src="scripts/lib/angular-gridster.js"></script>
    <script src="scripts/lib/adal.min.js"></script>
    <script src="scripts/lib/adal-angular.min.js"></script>
    <!-- <script src="scripts/lib/googlechart.js"></script> -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="scripts/app/index.js"></script>
</body>

</html>