.grid-toolbox {
    margin: 0 auto 10px;
    height: 50px;
    padding: 2px;
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    min-height: 60px;
    background: #1a262f;
    padding: 0 25px;

    label {
        font-size: 120%;
        margin-right: 15px;
        color: #A7C0C9;
    }

    .tool {
        height: 50px;
        display: flex;
        border: 1px solid;
        padding: 2px 5px;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        flex-direction: column;
        color: #A7C0C9;
        
        &:not(:last-child) {
            margin-right: 5px;
        }

        span {
            display: flex;
            width: 100%;
            justify-content: center;
            height: 100%;
            align-items: flex-start;

            &:nth-child(2){
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }

    .command {
        position: absolute;
        right: 25px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        
        img {
            width: 30px;
        }

        button {
            border-radius: 0;

            &:not(:last-child) {
                margin-right: 2px;
            }
        }
    }
}
.dashboard-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px 20px 20px;
    color: #6f818a;
    background: #10181E;
    position: relative;

    .grid-container {
        display: block;
        overflow: hidden;

        .gridster-item {
            background: #1A262F;
            position: absolute;
            display: flex;
            flex-direction: column;
            height: auto;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            margin: 7px;
            border: 1px solid;

            &:focus, &:active, &:hover {
                outline: none;
            }
            .part {
                display: flex;
                align-items: center;
                padding: 0 10px 0 15px;

                &:nth-child(1) {
                    // title
                    height: 30%;
                    font-size: 170%;
                }

                &.chart {
                    height: 10% !important;
                }

                &:nth-child(2) {
                    // count
                    height: 40%;
                    font-size: 500%;

                    &.corange {
                        color: #D37637;
                    }

                    &.cdorange {
                        color: #CE4C3A;
                    }

                    &.cpink {
                        color: #D62885;
                    }

                    &.cgreen {
                        color: #54D166;
                    }

                    &.cviolet {
                        color: #5968D3;
                    }

                    &.cdefault {
                        color: #1EC0DC;
                    }
                }

                &:nth-child(3) {
                    // description
                    height: 30%;
                    font-size: 95%;
                    display: flex;
                    flex-direction: row;

                    .label {
                        display: flex;
                        height: 100%;
                        width: 65%;
                        font-size: 120%;
                        text-align: left;
                        white-space: initial;
                        align-items: center;
                        line-height: 20px;
                        color: #d6d6d6;
                        font-weight: normal;
                    }

                    .arrow {
                        display: flex;
                        height: 100%;
                        width: 35%;
                        align-items: center;
                        font-size: 150%;
                    }
                }
            }

            #lineChart {
                height: 70%;
                width: 95%;
                margin: 0 auto;
            }

            div.legend {
                width: 95%;
                margin: 0 auto;
                display: flex;
                justify-content: center;

                table {
                    width: 80%;
                    margin-top: 15px;

                    tr {
                        td {
                            padding: 3px;
                            position: relative;
                            label {
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                top: 9px;
                            }

                            span {
                                margin-left: 22px;
                            }
                        }
                    }
                }
            }
            

            .command {
                position: absolute;
                top: 15px;
                right: 5px;
                color: #ea0000;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 150%;
            }
        }
    }

    .db-header, .grid-toolbox {
        margin: 0 auto 10px;

        h4 {
            font-size: 200%;
        }
    }

    .backmodal {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #121921;
        z-index: 50;
        opacity: 0;
        transition: opacity .6s;
        cursor: initial;
        
        &:active, &:focus {
            outline: none;
        }

        &.show-modal {
            opacity: .8
        }
    }

    .dialog {
        position: absolute;
        height: 50%;
        background: #FFF;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 51;
        overflow: hidden;
        width: 0;

        transition: 0.3s;

        &.hover {
            width: 50%;
        }

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 20px;
            min-height: 40px;
            align-items: center;
            background: #384552;
            color: #FFF;

            .title, .close {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .close {
                min-width: 30px;
                width: 30px;
                justify-content: flex-end;
                color: #FFF;
            }
        }
    }

    /* entire container, keeps perspective */
    .flip-container {
        perspective: 1000px;

        &.hover .flipper {
            transform: rotateY(180deg);
        }

        /* flip speed goes here */
        .flipper {
            display: flex; 
            height: 100%;
            width: 100%;
            transition: 0.6s;
            transform-style: preserve-3d;

            position: relative;
        }

        /* hide back of pane during swap */
        .front, .back {
            backface-visibility: hidden;

            position: absolute;
            top: 0;
            left: 0;
        }

        /* front pane, placed above back */
        .front {
            z-index: 2;
            /* for firefox 31 */
            transform: rotateY(0deg);
        }

        /* back, initially hidden pane */
        .back {
            transform: rotateY(180deg);
        }

        .back {
            background: #283946;
        }
    }

    .flip-container, .front, .back {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}