.dashboard-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px 100px 20px;
    color: #6f818a;
    background: #10171f;
    position: relative;

    .heading {
        display: flex;
        flex-direction: row;
        height: 20%;
        width: 100%;
        max-height: 60px;
        align-items: center;

        h4 {
            margin: 0;
            font-weight: normal;
            font-size: 30px;
        }
    }
    .details {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .item-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            height: auto;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            margin: 7px;
            border: 1px solid;

            .part {
                display: flex;
                align-items: center;
                padding: 0 10px 0 15px;

                &:nth-child(1) {
                    // title
                    height: 30%;
                    font-size: 170%;
                }

                &:nth-child(2) {
                    // count
                    height: 40%;
                    font-size: 500%;

                    &.corange {
                        color: orange;
                    }

                    &.cdorange {
                        color: orangered;
                    }

                    &.cpink {
                        color: palevioletred;
                    }

                    &.cgreen {
                        color: greenyellow;
                    }

                    &.cviolet {
                        color: purple;
                    }

                    &.cdefault {
                        color: skyblue;
                    }
                }

                &:nth-child(3) {
                    // description
                    height: 30%;
                    font-size: 95%;
                    display: flex;
                    flex-direction: row;

                    .label {
                        display: flex;
                        height: 100%;
                        width: 65%;
                        font-size: 120%;
                        text-align: left;
                        white-space: initial;
                        align-items: center;
                        line-height: 20px;
                        color: #d6d6d6;
                    }

                    .arrow {
                        display: flex;
                        height: 100%;
                        width: 35%;
                        align-items: center;
                        font-size: 150%;
                    }
                }
            }
        }

        div.parent-row {
            display: flex;
            width: 100%;

            &:nth-child(1) {
                height: 66.66%;

                .parent-col {
                    display: flex;
                    flex-direction: column;

                    &:not(:last-child) {
                        width: 16.66%;
                    }

                    &:last-child {
                        width: 49.98%;
                    }

                    .child-row {
                        display: flex;
                        width: 100%;
                        height: 50%;
                        position: relative;
                    }

                    &:last-child {
                        .child-row {
                            height: 100%;
                        }
                    }
                }
            }

            &:nth-child(2) {
                height: 33.33%;

                .parent-col {
                    display: flex;
                    
                    &:not(:nth-child(2)) {
                        width: 16.66%;
                    }

                    &:nth-child(2) {
                        width: 33.32%;
                    }

                    .child-row {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        position: relative;

                        .item-container {
                            .part {
                                &:nth-child(1), &:nth-child(2) {
                                    &:nth-child(1) {
                                        height: 40%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .backmodal {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #121921;
        z-index: 50;
        opacity: 0;
        transition: opacity .6s;
        cursor: initial;
        
        &.show-modal {
            opacity: .8
        }
    }

    .dialog {
        position: absolute;
        height: 50%;
        background: #FFF;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 51;
        overflow: hidden;
        width: 0;

        transition: 0.3s;

        &.hover {
            width: 50%;
        }

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 20px;
            min-height: 40px;
            align-items: center;
            background: #384552;
            color: #FFF;

            .title, .close {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .close {
                min-width: 30px;
                width: 30px;
                justify-content: flex-end;
                color: #FFF;
            }
        }
    }
}