@import '../../styles/mixin';

.grid-toolbox {
    top: 0;
    left: 0;
    margin: 0 auto 10px;
    height: 50px;
    padding: 2px;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    min-height: 60px;
    background: #1a262f;
    padding: 0 25px;
    z-index: 52;

    label {
        font-size: 120%;
        margin-right: 15px;
        color: #A7C0C9;
    }

    .tool {
        height: 50px;
        display: flex;
        border: 1px solid;
        padding: 2px 5px;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        flex-direction: column;
        color: #A7C0C9;
        
        &:not(:last-child) {
            margin-right: 5px;
        }

        span {
            display: flex;
            width: 100%;
            justify-content: center;
            height: 100%;
            align-items: flex-start;

            &:nth-child(2){
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }

    .command {
        position: absolute;
        right: 25px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        
        img {
            width: 30px;
        }

        button {
            border-radius: 0;

            &:not(:last-child) {
                margin-right: 2px;
            }
        }
    }
}
.dashboard-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px 20px 20px;
    color: #6f818a;
    background: #10181E;
    position: relative;

    .grid-container {
        display: block;
        overflow: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;

        @include respond-to(xs) {
            display: flex;
            width: 100% !important;
            height: 100% !important;
            overflow: auto;
            position: initial;
        }

        @include respond-to(sm) {
            display: flex;
            width: 100% !important;
            height: 100% !important;
            overflow: auto;
            position: initial;
        }

        .gridster {
            @include respond-to(xs) {
                height: auto !important;
                width: 100% !important;

                ul {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;

                    li.gridster-item {
                        position: initial;
                        height: 150px !important;
                        width: 90% !important;
                        margin: 5px auto !important;
                    }
                }
            }

            @include respond-to(sm) {
                height: auto !important;
                width: 100% !important;

                ul {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;

                    li.gridster-item {
                        position: initial;
                        height: 150px !important;
                        width: 90% !important;
                        margin: 5px auto !important;
                    }
                }
            }            
        }

        .gridster-item {
            background: #1A262F;
            position: absolute;
            display: flex;
            flex-direction: column;
            height: auto;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            margin: 7px;
            border: 1px solid;

            &:focus, &:active, &:hover {
                outline: none;
            }
            .part {
                display: flex;
                align-items: center;
                padding: 0 10px 0 15px;

                @include respond-to(md) {
                    padding: 0 5px;
                }

                &:nth-child(1) {
                    // title
                    height: 30%;
                    font-size: 170%;

                    @include respond-to(md) {
                        font-size: 110%;
                    }

                    @include respond-to(lg) {
                        font-size: 130%;
                    }

                    @include respond-to(xlg) {
                        font-size: 150%;
                    }
                }

                &.chart {
                    height: 10% !important;
                }

                &:nth-child(2) {
                    // count
                    height: 40%;
                    font-size: 500%;

                    @include respond-to(md) {
                        font-size: 350%;
                    }

                    @include respond-to(lg) {
                        font-size: 400%;
                    }
                }

                &:nth-child(3) {
                    // description
                    height: 30%;
                    font-size: 95%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .label {
                        display: flex;
                        height: 100%;
                        width: 65%;
                        font-size: 120%;
                        text-align: left;
                        white-space: initial;
                        align-items: center;
                        line-height: 20px;
                        color: #d6d6d6;
                        font-weight: normal;
                        
                        @include respond-to(xs) {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            width: 190px;
                            display: inline-block;
                        }

                        @include respond-to(md){
                            font-size: 90%;
                            width: 75%;
                        }

                        @include respond-to(lg) {
                            font-size: 100%;
                        }
                    }

                    .arrow {
                        display: flex;
                        height: 100%;
                        width: 35%;
                        align-items: center;
                        font-size: 150%;
                        max-width: 70px;

                        @include respond-to(md) {
                            width: 25%;
                        }

                        &:focus, &:active, i:focus, i:active {
                            outline: none;
                        }
                    }
                }
            }

            #lineChart {
                height: 70%;
                width: 95%;
                margin: 0 auto;
            }

            div.legend {
                width: 95%;
                margin: 0 auto;
                display: flex;
                justify-content: center;

                table {
                    width: 80%;
                    margin-top: 15px;

                    tr {
                        td {
                            padding: 3px;
                            position: relative;
                            label {
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                top: 9px;
                            }

                            span {
                                margin-left: 22px;
                            }
                        }
                    }
                }
            }
            

            .command {
                position: absolute;
                top: 15px;
                right: 5px;
                color: #ea0000;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 150%;
            }
        }
    }

    .db-header, .grid-toolbox {
        margin: 0 auto 10px;

        h4 {
            font-size: 200%;

            @include respond-to(md) {
                font-size: 180%;
            }
        }
    }

    .backmodal, .backmodal_1 {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #121921;
        z-index: 50;
        opacity: 0;
        transition: opacity .6s;
        cursor: initial;
        
        &:active, &:focus {
            outline: none;
        }

        &.show-modal {
            opacity: .8
        }
    }

    .backmodal_1 {
        z-index: 60;
    }

    .dialog, .dialog_1 {
        position: absolute;
        height: 80%;
        background: #FFF;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 51;
        overflow: hidden;
        width: 0;
        background: #384552;
        color: #A7C0C9;

        transition: 0.3s;

        @include respond-to(xs) {
            height: 90%;
        }

        @include respond-to(sm) {
            height: 90%;
        }

        &.hover {
            width: 80%;
        }

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 20px;
            min-height: 60px;
            max-height: 100px;
            height: 20%;
            align-items: center;
            border-bottom: 1px solid #4a5a6b;

            @include respond-to(xs) {
                flex-direction: column;
                height: 100px;
            }

            @include respond-to(sm) {
                flex-direction: column;
                height: 100px;
            }

            .title, .close {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .title {
                height: 100%;
                width: 30%;
                justify-content: flex-start;
                font-size: 30px;

                @include respond-to(xs) {
                    width: 100%;
                    font-size: 19px;
                    margin-top: 5px;
                }

                @include respond-to(sm) {
                    width: 100%;
                    font-size: 19px;
                    margin-top: 5px;
                }

                @include respond-to(lg) {
                    font-size: 27px;
                }

                @include respond-to(md) {
                    font-size: 24px;
                    width: 40%;
                }
            }

            .count-display {
                display: flex;
                flex-direction: row;
                width: 50%;
                height: 100%;

                @include respond-to(xs) {
                    width: 100%;
                    font-size: 10px;
                    align-items: flex-start;
                }

                @include respond-to(sm) {
                    width: 100%;
                    font-size: 10px;
                    align-items: flex-start;
                }

                .counter {
                    display: flex;
                    width: 30%;
                    height: 100%;
                    max-width: 125px;
                    font-size: 550%;
                    justify-content: center;
                    align-items: center;

                    @include respond-to(xs) {
                        width: 50px;
                    }

                    @include respond-to(sm) {
                        width: 50px;
                    }

                    @include respond-to(lg) {
                        font-size: 500%;
                    }

                    @include respond-to(md) {
                        font-size: 500%;
                    }
                }

                .description {
                    display: flex;
                    width: 70%;
                    align-items: center;
                    font-size: 150%;

                    @include respond-to(lg) {
                        font-size: 140%;
                    }

                    @include respond-to(md) {
                        font-size: 140%;
                    }
                }

            }

            .close {
                min-width: 30px;
                width: 30px;
                justify-content: flex-end;
                color: #FFF;

                @include respond-to(xs) {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }

                @include respond-to(sm) {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
        }

        .dialog-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 80%;

            h4 {
                display: flex;
                align-items: center;
                font-size: 200%;
                border-bottom: 1px solid #4a5a6b;
                margin: 0;
                padding: 10px 20px;
                height: 10%;
                min-height: 40px;

                @include respond-to(xs) {
                    font-size: 21px;
                    padding: 5px 20px;
                }

                @include respond-to(sm) {
                    font-size: 21px;
                    padding: 5px 20px;
                }
            }
            
            .display {
                width: 100%;
                padding: 10px 20px;
                height: 90%;
                overflow: auto;
                
                @include respond-to(md) {
                    font-size: 12px;
                }
                

                table {
                    width: 100%;
                    border-collapse: collapse;

                    // @include respond-to(xs) {
                    //     width: auto;
                    // }

                    thead {
                        tr {
                            border-bottom: 1px solid #4a5a6b;
                            th {
                                font-size: 125%;
                                font-weight: normal;
                                padding: 7px 0;
                                &:nth-child(-n+3) {
                                    color: #FFF;
                                }

                                &:nth-child(n+4){
                                    width: 150px;
                                }

                                @include respond-to(xs) {
                                    font-size: 13px;

                                    &:nth-child(-n+3) {
                                        min-width: 75px;
                                        color: #FFF;
                                    }

                                    &:nth-child(n+4){
                                        min-width: 55px;
                                    }
                                }

                                @include respond-to(sm) {
                                    font-size: 13px;

                                    &:nth-child(-n+3) {
                                        min-width: 75px;
                                        color: #FFF;
                                    }

                                    &:nth-child(n+4){
                                        min-width: 55px;
                                    }
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            border-bottom: 1px solid #4a5a6b;
                            td {
                                padding: 7px 0;
                                position: relative;

                                &.greenstatus {
                                    label {
                                        background: -webkit-linear-gradient(#3bc347, #7ae593);
                                        background: -moz-linear-gradient(#3bc347, #7ae593);
                                        background: -o-linear-gradient(#3bc347, #7ae593);
                                        background: linear-gradient(#3bc347, #7ae593);
                                    }

                                    span:after {
                                        content: 'OK'
                                    }
                                }
                                                                
                                &.amberstatus {
                                    label {
                                        background: -webkit-linear-gradient(#c54e25, #e6a84f);
                                        background: -moz-linear-gradient(#c54e25, #e6a84f);
                                        background: -o-linear-gradient(#c54e25, #e6a84f);
                                        background: linear-gradient(#c54e25, #e6a84f);
                                    }

                                    span:after {
                                        content: 'Warning'
                                    }
                                }

                                &.redstatus {
                                    label {
                                        background: -webkit-linear-gradient(#be3327, #e46e55);
                                        background: -moz-linear-gradient(#be3327, #e46e55);
                                        background: -o-linear-gradient(#be3327, #e46e55);
                                        background: linear-gradient(#be3327, #e46e55);
                                    }

                                    span:after {
                                        content: 'Error'
                                    }
                                }

                                &.nastatus {
                                    label {
                                        background: -webkit-linear-gradient(#505050, #9a9a9a);
                                        background: -moz-linear-gradient(#505050, #9a9a9a);
                                        background: -o-linear-gradient(#505050, #9a9a9a);
                                        background: linear-gradient(#505050, #9a9a9a);
                                    }

                                    span:after {
                                        content: 'NA'
                                    }
                                }

                                label {
                                    height: 15px;
                                    width: 15px;
                                    border-radius: 5px;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: auto 0;
                                }

                                span {
                                    margin-left: 18px;
                                }
                            }
                        }
                    }
                }
            }

            
        }
    }

    .dialog_1 {
        z-index: 61;
        height: 50%;

        @include respond-to(xs) {
            height: 85%;
        }

        @include respond-to(sm) {
            height: 85%;
        }

        &.hover {
            width: 40%;

            @include respond-to(md) {
                width: 60%;
            }

            @include respond-to(xs) {
                width: 80%;
            }

            @include respond-to(sm) {
                width: 80%;
            }
        }

        header {
            .title {
                min-width: 30%;
                width: auto;

                @include respond-to(lg) {
                    font-size: 24px;
                }
            }

            .count-display {
                width: 70%;

                @include respond-to(xs) {
                    width: 100%;
                }

                @include respond-to(sm) {
                    width: 100%;
                }

                @include respond-to(xlg) {
                    width: 50%;
                }

                @include respond-to(xxlg) {
                    width: 50%;
                }

                @include respond-to(lg) {
                    width: 50%;
                }

                .description {
                    width: 100%;
                    font-size: 350%;

                    @include respond-to(xs) {
                        justify-content: center;
                    }

                    @include respond-to(sm) {
                        justify-content: center;
                    }

                    @include respond-to(md) {
                        font-size: 240%;
                    }

                    @include respond-to(lg) {
                        font-size: 225%;
                    }

                    @include respond-to(xlg) {
                        font-size: 280%;
                    }

                    @include respond-to(xxlg) {
                        font-size: 300%;
                    }
                }
            }
        }

        .dialog-body {
            flex-direction: row;
            position: relative;

            .tab {
                display: flex;
                flex-direction: column;
                width: 150px;
                height: 250px;
                position: absolute;
                top: 10px;
                bottom: 0;
                left: 10px;
                right: 0;

                @include respond-to(xs) {
                    width: 90px;
                }

                @include respond-to(sm) {
                    width: 90px;
                }

                @include respond-to(md) {
                    width: 120px;
                }

                @include respond-to(lg) {
                    width: 110px;
                }

                ul {
                    list-style-type: none;
                    padding: 0 5px;
                    height: 100%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    li {
                        display: flex;
                        height: 15%;
                        align-items: center;
                        border-bottom: 1px solid hsl(210, 21%, 30%);
                        padding-left: 10px;
                        justify-content: flex-end;
                    }
                }
            }

            .tab-view {
                width: 100%;
                margin-left: 190px;
                padding-top: 10px;

                h4 {
                    border: 0;
                    font-size: 150%;
                }
            }
        }
    }

    /* entire container, keeps perspective */
    .flip-container {
        perspective: 1000px;

        &.hover .flipper {
            transform: rotateY(180deg);
        }

        /* flip speed goes here */
        .flipper {
            display: flex; 
            height: 100%;
            width: 100%;
            transition: 0.6s;
            transform-style: preserve-3d;

            position: relative;
        }

        /* hide back of pane during swap */
        .front, .back {
            backface-visibility: hidden;

            position: absolute;
            top: 0;
            left: 0;
        }

        /* front pane, placed above back */
        .front {
            z-index: 2;
            /* for firefox 31 */
            transform: rotateY(0deg);
        }

        /* back, initially hidden pane */
        .back {
            transform: rotateY(180deg);
        }

        .back {
            background: #283946;
        }
    }

    .flip-container, .front, .back {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .cnetwork {
        color: #D37637;
    }

    .cdmp {
        color: #CE4C3A;
    }

    .cappspace {
        color: #D62885;
    }

    .cpanel {
        color: #54D166;
    }

    .clocalpc {
        color: #5968D3;
    }

    .cdefault {
        color: #1EC0DC;
    }
}