<form name="loginForm" class="login-form">
    <img class="microsoft-logo" src="assets/img/microsoft_logo.png" alt="logo">
    <div class="login-input">
        <fieldset>
            <legend><i class="fa fa-envelope-o"></i> Email:</legend>
            <input type="text" ng-model="login.username" required>
        </fieldset>
        <!-- <fieldset>
            <legend>Password:</legend>
            <input type="password" ng-model="login.password" required>
        </fieldset> -->
    </div>
    <div class="login-command">
        <md-progress-linear md-mode="indeterminate" ng-show="loadingFlag"></md-progress-linear>
        <button class="btn" ng-click="login($event, loginForm.$valid);" ng-disabled="loadingFlag">LOGIN</button>
    </div>
</form>