@import 'mixin';

@font-face {
    font-family: 'HelveticaNeueLT';
    src: url("../fonts/HelveticaNeueLTStd-Cn.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLT';
    src: url("../fonts/HelveticaNeueLTStd-BlkCn.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLT';
    src: url("../fonts/HelveticaNeueLTStd-BlkCnO.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

html {
    margin: 0;
    font-family: 'HelveticaNeueLT';

    body {
        font-family: 'HelveticaNeueLT';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin: 0;
        background: #10181E;

        .main-view {
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;

            .home-page {
                display: flex;
                flex-direction: column;
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 100%;

                .home-head {
                    display: flex;
                    min-height: 50px;
                    border: 1px solid;
                    align-items: center;
                    padding: 0 50px;
                    background: #1A262F;
                    justify-content: space-between;

                    @include respond-to(xs) {
                        padding: 0 30px;
                    }

                    img {
                        width: 100px;
                        height: auto;
                    }

                    div.rside {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 20%;

                        @include respond-to(xs) {
                            width: 50%;
                        }

                        @include respond-to(sm) {
                            width: 25%;
                        }

                        div.menus {
                            display: flex;
                            width: 100%;
                            justify-content: flex-end;
                            position: relative;

                            span {
                                color: #fff;
                                margin-right: 20px;

                                i.fa {
                                    margin-left: 5px;
                                    &:active, &:focus {
                                        outline: none;
                                    }
                                }
                            }

                            .name-menu {
                                position: absolute;
                                top: 20px;
                                background: #6f818a;
                                right: 20px;
                                width: auto;
                                display: flex;
                                flex-direction: column;
                                z-index: 53;
                                color: white;

                                .menu-item {
                                    display: flex;
                                    width: 100%;
                                    justify-content: flex-end;
                                    align-items: center;
                                    padding: 5px 10px 5px 20px;
                                    min-height: 10px;
                                    cursor: pointer;
                                    position: relative;
                                    border-bottom: 1px solid #10181e;

                                    @include respond-to(xs) {
                                        padding: 5px;
                                    }

                                    @include respond-to(sm) {
                                        padding: 5px;
                                    }

                                    &:active, &:focus {
                                        outline: none;
                                    }

                                    &.sub-menu {
                                        justify-content: space-between;   

                                        i.toggle:after {
                                            content: "\f104";
                                        }

                                        &.open {
                                            i.toggle:after {
                                                content: "\f105";
                                            }
                                        }

                                        label {
                                            font-weight: normal;
                                            margin: 0;
                                        }

                                        ul {
                                            position: absolute;
                                            background: #6f818a;
                                            top: 0;
                                            left: -300px;
                                            list-style-type: none;
                                            padding: 0;
                                            margin: 0;
                                            display: flex;
                                            flex-direction: column;
                                            overflow: hidden;
                                            width: 0;

                                            li {
                                                display: inline-block;
                                                padding: 3px 5px;
                                                justify-content: flex-end;
                                                border-bottom: 1px solid #1a262f;
                                            }
                                        }
                                    }

                                    &.separator {
                                        border-bottom: 1px solid #1a262f;
                                    }
                                }
                            }
                        }

                        div.bars {
                            min-width: 40px;
                            text-align: right;

                            i.fa {
                                color: #e4e4e4;
                                cursor: pointer;
                                font-size: 150%;
                            }
                        }
                    }
                }

                .home-body {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    height: 100%;
                    // min-height: 100%;
                    // border: 1px solid;
                }

                .right-sidebar {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: -15%;
                    width: 15%;
                    height: 100%;
                    border: 1px solid;
                    transition: right .5s;
                    background: #1A262F;
                    // border: 1px solid #656565;
                    z-index: 53;

                    @include respond-to(xs) {
                        width: 210px;
                        right: -210px;
                    }

                    @include respond-to(sm) {
                        width: 30%;
                        right: -30%;
                    }

                    @include respond-to(md) {
                        width: 25%;
                        right: -25%;
                    }

                    @include respond-to(lg) {
                        width: 20%;
                        right: -20%;
                    }

                    div.command {
                        position: absolute;
                        width: 100%;
                        min-height: 30px;
                        top: 0;
                        left: 0;
                        padding: 3px;

                        button {
                            height: 35px;
                            line-height: 0;
                            border-radius: 0;
                        }

                        i.fa {
                            color: #e4e4e4;
                            cursor: pointer;
                            font-size: 150%;
                        }
                    }

                    div.user {
                        display: flex;
                        flex-direction: row;
                        height: 60px;
                        min-height: 60px;
                        width: 100%;
                        align-items: center;
                        margin-top: 35px;
                        background: #273c4c;

                        .profile-pic {
                            display: flex;
                            min-width: 80px;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 45px;
                                border-radius: 50%;
                            }
                        }

                        .details {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            padding-right: 10px;

                            .fullname {
                                font-size: 16px;
                                color: #A7C0C9;
                            }

                            .status {
                                display: flex;
                                font-size: 13px;
                                color: #A7C0C9;

                                i.fa {
                                    font-size: 9px;
                                    padding-top: 3px;
                                    margin-right: 3px;
                                    
                                    &.online {
                                        color: #00FF00;
                                    }

                                    &.away {
                                        color: orange;
                                    }

                                    &.offline {
                                        color: grey;
                                    }
                                }
                            }
                        }
                    }

                    .groups {
                        display: flex;
                        flex-direction: column;
                        height: auto;
                        overflow: auto;

                        div.group-item {
                            width: 100%;

                            span.group-header {
                                height: 40px;
                                display: flex;
                                align-items: center;
                                background: #10181e;
                                padding: 0 5px;
                                color: #707f84;
                                font-size: 12px;
                                cursor: pointer;
                            }

                            ul.group-items {
                                list-style: none;
                                padding: 0;
                                transition: height .5s;
                                overflow: hidden;
                                margin: 0;

                                li.menu-item {
                                    height: 40px;
                                    display: flex;
                                    align-items: center;
                                    padding: 0 5px 0 15px;
                                    cursor: pointer;

                                    i.fa {
                                        color: #707f84;
                                        margin-right: 5px;
                                        width: 15px;
                                    }

                                    span {
                                        color: #707f84;
                                        font-size: 14px;
                                    }

                                    &:hover {
                                        background: #151f27;
                                    }
                                }

                                &.hide-list {
                                    height: 0 !important;
                                }
                            }
                        }
                    }

                    &.active {
                        right: 0;
                    }
                }
            }
        }

        md-progress-linear {
            margin-bottom: 3px !important;

            .md-bar {
                background-color: #00abec;
            }
        }

        button {
            font-family: 'HelveticaNeueLT';
        }
    }
}