@font-face {
    font-family: 'HelveticaNeueLT';
    src: url("fonts/HelveticaNeueLTStd-Cn.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLT';
    src: url("fonts/HelveticaNeueLTStd-BlkCn.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLT';
    src: url("fonts/HelveticaNeueLTStd-BlkCnO.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

html {
    margin: 0;
    font-family: 'HelveticaNeueLT';

    body {
        font-family: 'HelveticaNeueLT';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin: 0;
        background: #10181E;

        .main-view {
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;
        }

        md-progress-linear {
            margin-bottom: 3px !important;

            .md-bar {
                background-color: #00abec;
            }
        }

        button {
            font-family: 'HelveticaNeueLT';
        }
    }
}